body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 52px;
    font-weight: bold;
}

.header-container{
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto;
}

.button{
    background-color: #E02C6D;
    padding: 15px;
    color: white;
    border-radius: 50px;
    width: 50px;
    text-decoration: none;
}

.header-left{
    width: 70%;
    margin-left: 10%;
}

.header-right{
    width: 40%;
    margin-right: 20%;
}
.products-container{
    margin-top: 50px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-left: 100px;
}

.footer-container{
    margin-top: 50px;
    text-align: center;
    background-color:#0A0826;
    padding: 50px;
    color: white;
}

/* Media Queries*/