body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

h1{
    font-size: 52px;
    font-weight: bold;
}

.header-part-first{
    width: 60%;
    margin: 100px;
}
.header-part-second{
    margin-right: 100px;
    background-image: url(./resources/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}

.header-part-second img {
    width: 100%;
    margin-top: 100px;
}

.header-container{
    display: flex;
    clear: both;  
}

.button{
    background-color: #E02C6D;
    padding: 15px;
    color: white;
    border-radius: 50px;
    width: 50px;
    text-decoration: none;
}

.products-collection{
    text-align: center;
}
.products-container{
    margin-left: 10%; 
    margin-right: 10%;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
    align-items: center;
}
.footer-container{
    margin-top: 50px;
    text-align: center;
    background-color:#0A0826;
    padding: 50px;
    color: white;
}

/* media Queries */


@media only screen and (max-width: 688px){
    .header-container{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .products{
        flex-direction: column;
        justify-content: center;
    }

    .footer-container{
        background-color: red;
        
    }
    
}

